<h1>Вход в систему</h1>

<% form_tag session_path do -%>
<p><%= label_tag 'login', "Логин:" %><br />
<%= text_field_tag 'login', @login %></p>

<p><%= label_tag 'password', "Пароль:" %><br/>
<%= password_field_tag 'password', nil %></p>

<p><%= label_tag 'remember_me', "Запомнить меня" %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>

<small id="b2" style="color:red; display:none">(просто нажмите Enter в поле логина или пароля :)</small>

<p><%= submit_tag "Войти", :id => 'b1' %></p>
<% end -%>

<%= javascript_tag <<-EOJS
  var steps = 0;
  Event.observe('b1','mouseover', function(){
    $('b1').style.position = 'relative';
    $('b1').style.top  = Math.floor(Math.random()*301);
    $('b1').style.left = Math.floor(Math.random()*401);
    steps++;
    if( steps >= 20 ){
      $('b2').show();
    } else if( steps >= 10 ){
      $('b1').value = "C 1-м апреля!! :))))";
    }
  });
EOJS
%>
