<h1>Вход в систему</h1>

<% form_tag session_path do -%>
<p><%= label_tag 'login', "Логин:" %><br />
<%= text_field_tag 'login', @login %></p>

<p><%= label_tag 'password', "Пароль:" %><br/>
<%= password_field_tag 'password', nil %></p>

<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', I18n.t(:remember_me) %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->

<p><%= submit_tag "Войти" %></p>
<% end -%>
