<h1>Узлы</h1>

<% if (@tickets=@current_tickets).any? %>
  <h3>Текущие заявки (<%= @tickets.size -%>)</h3>
  <%= render 'tickets/table' %>
<% end %>

<% if (@tickets=@last_tickets).any? %>
  <h3>Последние заявки</h3>
  <%= render 'tickets/table' %>
<% end %>

<h3>Самые "слабые" узлы за последние 30 дней</h3>
<table class="t1">
  <tr>
    <th>Узел</th>
    <th>Число заявок</th>
  </tr>
  <% @weak30nodes.each do |node,tcnt| %>
    <tr>
      <td><%= link_to node.name, node %></td>
      <td align="right"><%= tcnt %></td>
    </tr>
  <% end %>
</table>

<h3>Самые "слабые" узлы за последние 90 дней</h3>
<table class="t1">
  <tr>
    <th>Узел</th>
    <th>Число заявок</th>
  </tr>
  <% @weak90nodes.each do |node,tcnt| %>
    <tr>
      <td><%= link_to node.name, node %></td>
      <td align="right"><%= tcnt %></td>
    </tr>
  <% end %>
</table>
