<% form_for @house do |f| -%>
  <%= f.error_messages %>

  <p><%= label_tag 'street_name', 'Улица' %><br/>
  <table><tr><td>
    <%= text_field_with_auto_complete :street, :name, {
        :size  => 20,
        :name  => 'house[street]',
        :value => (@house && @house.street && @house.street.name),
        :style => 'float:left'
      },
      :url  => auto_complete_streets_path,
      :indicator => 'ai1' %>
  </td><td>
    <%= image_tag 'ajax.gif', :style => 'display:none', :id => 'ai1' %></p>
  </td></tr></table>

  <p><%= label_tag 'house_number', 'Номер дома' %><br/>
  <%= f.text_field :number, :size => 5 %></p>

  <p><%= label_tag 'inet_status', 'Интернет' %><br/>
  <%= select_tag 'house[inet_status]', statuses_for_select(@house.inet_status) %></p>

  <p><%= label_tag 'house_comment', 'Примечания' %><br/>
  <%= f.text_area :comment, :rows => 4 %></p>

  <p>
    <%= submit_tag %>
    or <%= link_to "return", :back %>
  </p>
<% end -%>
