<%= will_paginate @houses %>

<table class="t1">
  <tr>
    <th>Адрес</th>
    <th>Интернет</th>
    <th>Создан</th>
    <th></th>
  </tr>
  <% for house in @houses %> 
    <tr>
      <td><%= link_to_address_of house %></td>
      <%= status_tag house, :inet, :td %>
      <td style="font-size: 7pt; color:gray"><%= time_ago_in_words house.created_at %> ago</td>
      <td>
        <%= link_to image_tag('edit.png'), edit_house_path(house) %>
      </td>
    </tr>
  <% end %> 
</table>

<%= will_paginate @houses %>
