<%= javascript_include_tag '/OpenLayers/OpenLayers', '/OpenLayers/map_init' %>

<h1>Houses#check</h1>

<div style="width: 280px; float:left">
<% remote_form_for(:house, 
    :loading => "$('spinner').show()",
    :loaded  => "$('spinner').hide()"
   ) do |f| %>
  <% field_set_tag 'Адрес', :class => 'address' do %>
    <table>
    <tr>
      <td> Улица:
      <td colspan=2> <%= text_field_with_auto_complete :street, :name, {
          :size => 20,
          :name => 'house[street]',
        }, 
        :url  => auto_complete_streets_path,
        :indicator => 'ai1' %>
      <td> <%= image_tag 'ajax.gif', :style => 'display:none', :id => 'ai1' %>
    <tr>
      <td> Дом:
      <td> 
        <%= f.text_field :number, :size => 5 %>
      <td align=right>
        <%= submit_tag 'проверить', :name => nil %>
      <td>
        <%= image_tag 'ajax.gif', :style => 'display:none', :id => 'spinner' %>
    </table>
  <% end %>
<% end %>

<div id="result"></div>

</div>

<div id="map" class="bigmap"></div>

<%= javascript_tag <<-EOJS
  Event.observe(window, 'load', function(){
    $('street_name').focus();
    initmap();
    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);

    var marker = new OpenLayers.Marker( new OpenLayers.LonLat(1111776,-982193) );
    markers.addMarker( marker );
  });
EOJS
%>
