<h2>Дома</h2>

<div style="margin-left: 1.2em; margin-bottom: 0.8em">
  <% form_tag({}, :method => :get) do %>
    <%= text_field_tag 'street', params[:street] %>
    <%= text_field_tag 'number', params[:number], :size => 3 %>
    <%= submit_tag 'Поиск', :name => nil %>
  <% end %>
</div>

<% if @houses.any? %>
  <%= render 'table' %>
<% else %>
  <div style="margin-left: 2em; border: solid 1px lightgrey; width: 300px; padding: 3; text-align:center">
    <b>Не найдено ни одного дома</b>
  </div>
<% end %>

<p>
  <%= link_to 'Создать..', new_house_path %>
</p>

