<h1>Calls</h1>

<style>
  span.flat {
    color: #b8b8b8;
  }
</style>

<table class="t1">
<% @calls.each do |call| %>
  <tr>
    <td align="right" class="nobr"><%= Phone.humanize(call.caller) %></td>
    <td class="nobr"><%= call.start_time.strftime("%Y-%m-%d %H:%M:%S") -%></td>
    <td><%= distance_of_time_in_images(call) %>
    <td><%= link_to_address_of(call.customer) %>
    <td><%= link_to_customer call.customer %></td>
  </tr>
<% end %>
</table>
