<h1>Calls</h1>

<table class="t1">
<% @calls.each do |call| %>
  <tr>
    <td align="right" class="nobr"><%= Phone.humanize(call.caller) %></td>
    <td class="nobr"><%= call.start_time.strftime("%Y-%m-%d %H:%M:%S") -%></td>
    <td><%= call.end_time.try(:strftime,"%H:%M:%S") %></td>
    <td class="nobr"><%= distance_of_time_in_words(call.start_time, call.end_time, true) if call.end_time -%></td>
    <td>
      <%= image_tag 'balloon.png' if call.end_time.blank? -%>
      <%= call.customer.try(:name) %>
    </td>
  </tr>
<% end %>
</table>
