<div id='topmenu'>
  [
  <%= link_to 'Главная', '/' %>

  | <%= link_to 'Заявки', tickets_path %> 

  <% if current_user.can_manage_users? %>
    | <%= link_to 'Пользователи', users_path %> 
  <% end %>
  <% if current_user.can_manage? :houses %>
    | <%= link_to 'Дома', houses_path %> 
  <% end %>
  ]
</div>

<%= render :partial => "#{controller_name}/menu" if File.exists?("#{RAILS_ROOT}/app/views/#{controller_name}/_menu.html.erb") %>
