<h1>Welcome to Orbitel CRM</h1>
<% if logged_in? %>

  <div class="actions">
    Ваши действия:
    <ul class="actions">
      <li><%= link_to "» Проверить возможность подключения",
                check_houses_path %>
      <li><%= link_to "» Создать запрос на возможность подключения",
                new_request_tickets_path %>
      <li>» Создать заявку:
      <ul>
        <li><%= link_to 'Нет интернета', new_ticket_path(:title => "нет интернета") %>
        <li><%= link_to "Смена ТП", new_tariff_change_tickets_path %>
        <li><%= link_to "Другое..", new_ticket_path %>
          <div class="small" style="margin-left:1em; display:inline">
            (потери на линии и другие неисправности)
          </div>
      </ul>
    </ul>
  </div>

  <% if @history %>
    <%= render 'tickets/global_history' %>
  <% end %>

<% else %>
  <p>
    Not logged in. Please <%= link_to "log in", :login %> first.
  </p>
<% end %>
