<style>
  div.photo {
    display: table;
    border: solid 1px lightgrey;
    padding: 0;
    margin-bottom: 5px;
    margin-top: 0;
  }
</style>

<% form_for @customer, :html => { :multipart => true } do |f| -%>
  <%= f.error_messages %>

  <div style="float:left; width: 30em">
    <p><%= f.label :name, 'Имя' %><br/>
      <%= f.text_field :name %></p>

    <p><%= f.label :address, 'Адрес' %><br/>
      <%= f.text_field :address %></p>

    <p><%= f.label :comment, 'Комментарии' %><br/>
      <%= f.text_area :comment, :rows => 5 %></p>

    <div>
      Телефоны

      <div id="phones_place" style="margin-left: 1em">
        <%= render 'phones' %>
      </div>
    </div>
  </div>

  <div style="float:left">
    <p style="margin-bottom:0"><%= f.label :photo, 'Загрузить фото' %></p>
    <% if @customer.photo? %>
      <div class="photo">
        <%= image_tag @customer.photo.url(:profile), :class => 'photo' %>
      </div>
      <%= check_box_tag :delete_photo %>
      <%= label_tag 'delete_photo', 'Удалить фото' %>
    <% end %>
    <p style="margin-top:0; margin-bottom:0"><%= f.file_field :photo %></p>

    <p style="margin-bottom:0; margin-top:0; font-size:8pt"><%= label_tag :photo_url, 'Или указать URL фото-файла' %></p>
    <p style="margin-top:0"><%= text_field_tag :photo_url, 'http://',
      :size    => 30,
      :style   => 'color:#999',
      :onfocus => 'this.style.color="black"; if(this.value=="http://") this.value=""',
      :onblur  => 'if(this.value == ""){this.value="http://"; this.style.color="#999"}'
    %></p>

  </div>

  <div style="clear:both" />

  <p><%= submit_tag 'Сохранить' %></p>
<% end -%>
