<style>
  div.photo {
    display: table;
    border: solid 1px lightgrey;
    padding: 0;
    margin-bottom: 5px;
    margin-top: 0;
  } 
</style>

<% form_for @customer, :html => { :multipart => true } do |f| -%>
  <%= f.error_messages %>

  <p><%= f.label :name, 'Имя' %><br/>
    <%= f.text_field :name %></p>

  <p><%= f.label :address, 'Адрес' %><br/>
    <%= f.text_field :address %></p>

  <p style="margin-bottom:0"><%= f.label :photo, 'Фото' %></p>
  <% if @customer.photo? %>
    <div class="photo">
      <%= image_tag @customer.photo.url(:profile), :class => 'photo' %>
    </div>
  <% end %>
  <p style="margin-top:0"><%= f.file_field :photo %></p>


  <div>
    Телефоны

    <div id="phones_place" style="margin-left: 1em">
      <%= render 'phones' %>
    </div>
  </div>

  <p><%= submit_tag 'Сохранить' %></p>
<% end -%>
