<% form_for @customer do |f| -%>
  <%= f.error_messages %>

  <p><%= f.label :name, 'Имя' %><br/>
    <%= f.text_field :name %></p>

  <p><%= f.label :address, 'Адрес' %><br/>
    <%= f.text_field :address %></p>

  <div>
    Телефоны

    <div id="phones_place" style="margin-left: 1em">
      <%= render 'phones' %>
    </div>
  </div>

  <p><%= submit_tag 'Сохранить' %></p>
<% end -%>
