<style>
  .green { color:green }
  .red   { color:red }
</style>

<table class="t1">
  <tr> <th>имя      <td colspan=2><%= @info[:name] %>
  <tr> <th>адрес    <td colspan=2><%= @info[:address] %>
  <tr> <th>лиц.счет <td colspan=2><%= @info[:lic_schet] %>
  <tr> <th>тариф    <td colspan=2><%= @info[:tarif] %>
  <tr> <th>баланс   
    <%= @info[:bal_red] ? '<td colspan=2 class="red">' : '<td colspan=2 class="green">' %>
    <%= @info[:bal] %>

  <tr><th colspan=3 style="height:3px">
  <tr> <th rowspan="<%= [@info[:traf_report].size,1].max -%>">трафик
  <% if @info[:traf_report] && @info[:traf_report].any? %>
    <%= @info[:traf_report].map{ |type,amount| 
      "<td>#{traf_type(type)}<td align=right>#{number_to_human_size(amount)}"
    }.join("<tr>") %>
  <% else %>
    <td colspan=2> нет
  <% end %>

  <% if @info[:status] %>
    <tr><th colspan=3 style="height:3px">
    <tr><th rowspan="<%= @info[:status].size -%>">ips
    <%= @info[:status].map{ |ip,status| 
      td = status[:red] ? '<td class="red">' : '<td class="green">'
      "#{td}#{ip}#{td}#{status[:name]}"
    }.join("<tr>") %>
  <% end %>
</table>
