<% cache("customers/#{@customer.id}/router_info") do %>
<!-- TIMESTAMP:<%= Time.now.to_i -%> -->
<style>
  .green { color:green }
  .red   { color:red }

  table.t1 td.noborder, td.noborder {
    border: 0;
    padding: 0 1px;
  }
  tr:hover td.noborder {
    background-color: white;
  }
  img.router-func {
    cursor: pointer;
  }
</style>

<table class="t1">
  <%- @info.each do |ip,info| -%>
    <tr class="<%= info['status'].to_i == 0 ? 'red' : 'green' -%>">
      <td><%= info['status'].to_i == 0 ? 'Выключен' : 'Включен' -%></td>
      <td><%= info['interface'] -%></td>
      <% if @info.size > 1 %>
        <td><%= ip -%></td>
      <% end %>
      <% if info['channel'] || info['error'] %>
        <td>
          <%= h(info['channel']) -%>
          <% if info['error'].blank? %>
            OK
          <% else %>
            <font color='red'><%= h info['error'] -%></font>
          <% end %>
        </td>
      <% end %>
      <td class="noborder">
        <%= image_tag('icon_expand.gif',
                      :alt     => 'Дополнительные функции',
                      :class   => 'router-func',
                      :onclick => "router_menu(event, #{ip.to_json}, #{info['interface'].to_json})"
                     ) %>
      </td>
    </tr>
  <%- end -%>
</table>
<% end %>
