<style>
  table.calls td {
    padding: 0 6px;
  }

  table.calls td.date {
    padding-top: 5px;
    font-weight: bold;
  }

  table.calls td.phone {
    font-size: 7pt;
    color: gray;
    padding-left: 1em;
  }

  table.ips td {
    border: 0;
    padding: 0 5px 0 0;
  }

  h3 {
    margin-bottom: 5px;
  }

  div.rarr, div.larr {
    position: relative;
    top: 0.7em;
  }
  div.rarr { float:right }
  div.larr { float:left  }
</style>

<div class="larr"><%= prev_customer_link -%></div>
<div class="rarr"><%= next_customer_link -%></div>
<h1><%= h @customer.name %></h1>

<h3>Данные абонента</h3>

<table class="t1">
  <tr>
    <th>имя
    <td><%= h @customer.name %>
  </tr>
  <tr>
    <th>адрес
    <td><%= link_to_address_of @customer %>
  </tr>
  <tr>
    <th>телефоны
    <td><%= @customer.phones.map(&:humanize).join("; ") %>
  </tr>
</table>

<h3>Данные биллинга
  <%= link_to_remote image_tag('arrow-circle-double.png', :alt => 'reload'), 
    :url       => billing_info_customer_path(@customer),
    :update    => 'billing_info',
    :loading   => "$('billing_indicator').show()",
    :complete  => "$('billing_indicator').hide()"
  %>
  <%= image_tag 'ajax.gif', :style => 'display:none', :id => 'billing_indicator' %>
</h3>
<div id="billing_info"><%= @binfo %></div>

<h3>Звонки (<%= @calls.size -%>)</h3>

<% if @calls.blank? %>
  нет звонков
<% else %>
  <table class="calls">
    <% @calls.group_by{ |call| call.start_time.to_date }.each do |date,calls| %>
      <tr>
        <td colspan="10" class="date"><%= date_with_mark(date) %></td>
      </tr>
      <% calls.each do |call| %>
        <tr>
          <td class="nobr" style="padding-left:3em"><%= call.start_time.strftime("%H:%M:%S") -%></td>
          <td><%= distance_of_time_in_images(call.duration) if call.duration -%></td>
          <td class="phone"><%= Phone.humanize(call.phone_number) %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
