<% content_for :head do %>
  <style>
    div.fieldWithErrors {
      display: inline;
      background-color: inherit;
    }
    div.fieldWithErrors input {
      border: solid 2px red;
      margin-bottom: 1px;
    }

    .toolbox {
      float: right;
      margin-top: 4px;
    }
    div.toolbox {
      margin-top: 0;
    }
    a.toolbox {
      margin-left: 2px;
    }

    img.ajax {
      position: absolute;
      left: 2px;
      top: 4px;
    }
  </style>
<% end %>

<tr>
  <th>менеджер</th>
  <td>
    <%= h @ticket.manager %>
  </td>
</tr>

<tr><td colspan="2"><hr width="90%"/></td></tr>

<tr>
  <th>тариф</th>
  <td align="center" style="font-size:120%">
    <%= h @ticket.tariff_name %>
  </td>
</tr>

<tr>
  <th>VLAN</th>
  <td align="center" style="font-size:120%">
    <span id="vlan_content">
      <%= render 'tickets/connection_tickets/vlan' %>
    </span>
  </td>
</tr>

<tr>
  <th>IP</th>
  <td align="center" style="font-size:120%">
    <span id="ip_content">
      <%= render 'tickets/connection_tickets/ip' %>
    </span>
  </td>
</tr>

<tr>
  <th>роутер</th>
  <td align="center" style="font-size:120%">
    <div id="router_content" style="position: relative">
      <%= render 'tickets/connection_tickets/router' %>
    </span>
  </td>
</tr>

<tr>
  <th>биллинг</th>
  <td align="center" style="font-size:120%; max-width: 500px">
    <div id="billing_content" style="position: relative">
      <%= render 'tickets/connection_tickets/billing' %>
    </span>
  </td>
</tr>

<%= javascript_tag <<-EOJS
  function update_router(){
    #{remote_function(
      :update   => 'router_content',
      :loading  => '$("router_ajax").show()',
      :loaded   => '$("router_ajax").hide()',
      :url      => { :controller => 'tickets/connection_tickets', :action => 'update_router_status', :id => @ticket }
    )}
  }

  function update_billing(){
    #{remote_function(
      :update   => 'billing_content',
      :loading  => '$("billing_ajax").show()',
      :loaded   => '$("billing_ajax").hide()',
      :url      => { :controller => 'tickets/connection_tickets', :action => 'update_billing_status', :id => @ticket }
    )}
  }
EOJS
%>
