<%= javascript_include_tag 'sorttable' %>

<style>
  div.address {
    font-weight: bold;
  }
  div.name {
    font-size: 8pt;
    font-family: Tahoma;
    margin-left: 3.5em;
    color: #444444;
  }
</style>

<table class="t1 sortable">
  <tr>
    <th>#</th>
    <th>Адрес / Абонент</th>
    <th>Описание</th>
    <th>Статус / Исполнитель</th>
    <th>Дата создания</th>
  </tr>
  <% for ticket in @tickets do %>
    <tr class="clickable priority<%=ticket.priority-%>" url="<%=ticket_path(ticket)%>">
      <td><%= link_to ticket.id, ticket_path(ticket) %></td>
      <td>
        <div class="address"><%= h(ticket.address.to_s.sub('проспект','')) %></div>
        <div class="name"><%= h truncate(ticket.contact_name.to_s.sub(/\(.+/,''), :length => 40) %></div>
      </td>
      <td><%= link_to h(ticket.title), ticket_path(ticket) %></td>
      <% if ticket.status == Ticket::ST_ACCEPTED %>
        <td style="padding-left:5px"><%= ticket.assignee ? link_to_user(ticket.assignee) : nil %></td>
      <% else %>
        <td style="text-align:center; font-weight:bold"><%= ticket_status_desc(ticket.status) %></td>
      <% end %>
      <td style="white-space:pre"><%= ticket.created_at.strftime('%Y.%m.%d %H:%M') %></td>
    </tr>
  <% end %>
</table>

<%= javascript_tag 'make_clickable_rows()' %>
