<table class=t1>
  <tr>
    <th>#</th>
    <th>Адрес</th>
    <th>Описание</th>
    <th>Статус</th>
    <th>Дата создания</th>
    <th>Автор</th>
  </tr>
  <% for ticket in @tickets do %>
    <tr class="clickable priority<%=ticket.priority-%>" url="<%=ticket_path(ticket)%>">
      <td><%= link_to ticket.id, ticket_path(ticket) %></td>
      <td><%= h ticket.address %></td>
      <td><%= link_to h(ticket.title), ticket_path(ticket) %></td>
      <td style="text-align:center; font-weight:bold"><%= status_desc(ticket.status) %></td>
      <td><%= ticket.created_at.strftime('%Y.%m.%d %H:%M') %></td>
      <td><%= link_to_user ticket.created_by %></td>
    </tr>
  <% end %>
</table>

<%= javascript_tag 'make_clickable_rows()' %>
