<%= calendar_date_select_includes %>

<style>
  label {
    display: block;
    margin-top: 1em;
  }

  legend + label, div.fieldWithErrors label {
    margin-top: 0;
  }

  div.small {
    color: gray;
    position: relative;
    top: -10px;
    text-align: right;
  }

  div.small + label {
    margin-top: -6px;
  }

  div.tarifs {
    position: absolute;
    font-size: 7pt;
    margin-left: 8em;
    margin-top: 1px;
  }

  div.tarifs a {
    margin-left: 5px;
  }

  div.fieldWithErrors {
    background-color: inherit;
    display: block;
    padding: 0;
  }

  div.fieldWithErrors input, div.fieldWithErrors select {
    border: solid 2px red;
  }
</style>

<% form_for @ticket, :builder => LabellingFormBuilder do |f| %>
  <%= f.error_messages %>

  <%= hidden_field_tag 'ticket[type]', @ticket.class.to_s %>
  <%= hidden_field_tag :quick_customer, params[:quick_customer] %>
  <%= hidden_field_tag :tariff_type, params[:tariff_type] %>

  <div style="float:left">
  <div id="cust_select_div">
    <% field_set_tag 'Абонент' do %>
      <div class="small">
        Абонент не найден? - 
        <%= link_to_function "Показать форму ручного ввода", 'show_customer_manual()' %>
      </div>
      <%= '<div class="fieldWithErrors">' if !@ticket.errors.on(:customer) && @ticket.errors.on(:contact_name) %>
      <%= ajax_customer_selector :label => 'Быстрый поиск:' %>
      <%= '</div>' if !@ticket.errors.on(:customer) && @ticket.errors.on(:contact_name) %>
    <% end %>
  </div>

  <div style="display:none" id="cust_address_div">
    <% field_set_tag 'Контактные данные' do %>
      <div class="small">
        <%= link_to_function "Показать форму быстрого поиска", 'show_customer_finder()' %>
      </div>
      <%= f.text_field :contact_name, :style => 'width:280px', 
        :label => 'ФИО клиента / название организации:' %>
      <%= f.text_area  :contact_info, :rows => 2, :style => 'width:280px', 
        :label => 'Телефон и/или другие контактные данные:' %>
    <% end %>

    <% field_set_tag 'Адрес подключения' do %>
      <% f.fields_for :house do |hf| %>
        <table>
        <tr>
          <td> Улица:
          <td> <%= ajax_street_selector %>
        <tr>
          <td> Дом: 
          <td> <%= hf.text_field :number, :size => 5 %>
        <tr>
          <td> <span class="small">Квартира<br/>(Офис)</span>: 
          <td> <%= f.text_field :flat, :size => 5 %>
        </table>
      <% end %>
    <% end %>
  </div>
  </div>

  <div style="float:left; margin-left: 0.7em">
    <% field_set_tag 'Параметры смены тарифа' do %>
      <div class="tarifs">
        <%= link_to_function '[ФЛ]', 'switch_tariff_type("fiz")' %>
        <%= link_to_function '[ЮЛ]', 'switch_tariff_type("ur")' %>
        <%= link_to_function '[...]','switch_tariff_type("custom")' %>
      </div>
      <%= f.label :tariff, 'Тариф:', :style => 'margin-top:0' %>
      <div class="clear"></div>
      <%= f.select :tariff, fiz_tariffs_for_select, {}, :id => 'tarifs_fiz' %>
      <%= f.select :tariff,  ur_tariffs_for_select, {}, :id => 'tarifs_ur', :name => '', :style => 'display:none' %>
      <%= f.text_field :tariff, :id => 'tarifs_custom', :name => '', :style => 'display:none' %>

      <%= f.label :date, 'Дата начала действия нового тарифа:' %>
      <%= '<div class="fieldWithErrors">' if @ticket.errors.on(:date) %>
        <%= calendar_date_select_tag "#{@ticket.class.to_s.underscore}[date]", @ticket.date,
          :id => "#{@ticket.class.to_s.underscore}_date", :size => 10 %>
      <%= '</div>' if @ticket.errors.on(:date) %>

      <%= f.text_area :notes, :rows => 2, :style => 'width: 280px', 
        :label => 'Примечания и дополнительная информация:' %>
    <% end %>
  </div>

  <div class="clear"></div>

  <br/>
  <%= submit_tag 'Далее &gt;&gt;' %> или <%= link_to 'отмена','/' %>.

<% end %>

<%= javascript_tag <<-EOJS
  function show_customer_manual(){
    #{update_page do |page|
        page.visual_effect :toggle_blind, :cust_select_div, :duration => 0.15
        page.visual_effect :toggle_blind, :cust_address_div, :duration => 0.15
        page['quick_customer'].value = 0
      end}
  }

  function show_customer_finder(){
    #{update_page do |page|
        page.visual_effect :toggle_blind, :cust_select_div, :duration => 0.15
        page.visual_effect :toggle_blind, :cust_address_div, :duration => 0.15
        page['quick_customer'].value = 1
      end}
  }

  function switch_tariff_type(switch_to, do_clean){
    var el;
    ['ur', 'fiz', 'custom'].each(function(t){
      el = $('tarifs_'+t);
      if( do_clean != false ) el.value = '';
      if( t == switch_to ){
              el.show();
              el.name = 'tariff_change[tariff]'
      } else {
              el.hide();
              el.name = '';
      }
    });
    el = $('tarifs_'+switch_to);
    $('tariff_type').value = switch_to;
    el.focus();
  }

  #{ "switch_tariff_type('#{params[:tariff_type]}',false);" unless params[:tariff_type].blank? }
  #{ "$('cust_select_div').hide(); $('cust_address_div').show();" if params.key?(:quick_customer) && params[:quick_customer].to_i == 0 }
EOJS
%>
