<%= calendar_date_select_includes %>

<style>
  div.tarifs {
    position: absolute;
    font-size: 7pt;
    margin-left: 8em;
    margin-top: 1px;
  }

  div.tarifs a {
    margin-left: 5px;
  }
</style>

<% form_for @ticket, :builder => LabellingFormBuilder do |f| %>
  <%= f.error_messages %>

  <%= hidden_field_tag 'ticket[type]', @ticket.class.to_s %>
  <%= hidden_field_tag :tariff_type, params[:tariff_type] %>

  <div style="float:left">
    <%= render 'customer_selector', :f => f %>
  </div>

  <div style="float:left; margin-left: 0.7em">
    <% field_set_tag 'Параметры смены тарифа' do %>
      <div class="tarifs">
        <%= link_to_function '[ФЛ]', 'switch_tariff_type("fiz")' %>
        <%= link_to_function '[ЮЛ]', 'switch_tariff_type("ur")' %>
        <%= link_to_function '[...]','switch_tariff_type("custom")' %>
      </div>
      <%= f.label :tariff, 'Тариф:', :style => 'margin-top:0' %>
      <div class="clear"></div>
      <%= f.select :tariff, fiz_tariffs_for_select, {}, :id => 'tarifs_fiz' %>
      <%= f.select :tariff,  ur_tariffs_for_select, {}, :id => 'tarifs_ur', :name => '', :style => 'display:none' %>
      <%= f.text_field :tariff, :id => 'tarifs_custom', :name => '', :style => 'display:none' %>

      <%= f.label :date, 'Дата начала действия нового тарифа:' %>
      <%= '<div class="fieldWithErrors">' if @ticket.errors.on(:date) %>
        <%= calendar_date_select_tag "#{@ticket.class.to_s.underscore}[date]", @ticket.date,
          :id => "#{@ticket.class.to_s.underscore}_date", :size => 10 %>
      <%= '</div>' if @ticket.errors.on(:date) %>

      <%= f.text_area :notes, :rows => 2, :style => 'width: 280px', 
        :label => 'Примечания и дополнительная информация:' %>
    <% end %>
  </div>

  <div class="clear"></div>

  <%= submit_tag 'Далее &gt;&gt;' %> или <%= link_to 'отмена','/' %>.

<% end %>

<%= javascript_tag <<-EOJS
  function switch_tariff_type(switch_to, do_clean){
    var el;
    ['ur', 'fiz', 'custom'].each(function(t){
      el = $('tarifs_'+t);
      if( do_clean != false ) el.value = '';
      if( t == switch_to ){
              el.show();
              el.name = 'tariff_change[tariff]'
      } else {
              el.hide();
              el.name = '';
      }
    });
    el = $('tarifs_'+switch_to);
    $('tariff_type').value = switch_to;
    el.focus();
  }

  #{ "switch_tariff_type('#{params[:tariff_type]}',false);" unless params[:tariff_type].blank? }
EOJS
%>
