<style>
  label {
    display: block;
    margin-top: 1em;
  }

  legend + label {
    margin-top: 0;
  }
</style>

<% form_for @ticket, :builder => LabellingFormBuilder do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :type %>

  <div style="float:left">
    <% field_set_tag 'Абонент' do %>
      <%= ajax_customer_selector :label => 'Быстрый поиск:' %>

      <%= f.text_area :notes, :rows => 3, :style => 'width: 280px', 
        :label => 'Примечания и дополнительная информация, если нужно:' %>
    <% end %>
  </div>

  <div style="float:left; margin-left:1em">
    <% field_set_tag 'Контактные данные' do %>
      <%= f.text_field :contact_name, :style => 'width:280px', 
        :label => 'ФИО клиента / название организации:' %>
      <%= f.text_area  :contact_info, :rows => 3, :style => 'width:280px', 
        :label => 'Телефон и/или другие контактные данные:' %>
    <% end %>

    <% field_set_tag 'Адрес подключения' do %>
      <% f.fields_for :house do |hf| %>
        <table>
        <tr>
          <td> Улица:
          <td> <%= ajax_street_selector %>
        <tr>
          <td> Дом: 
          <td> <%= hf.text_field :number, :size => 5 %>
        <tr>
          <td> <span class="small">Квартира<br/>(Офис)</span>: 
          <td> <%= f.text_field :flat, :size => 5 %>
        </table>
      <% end %>
    <% end %>
  </div>

  <div style="clear:both">&nbsp;</span>

  <br/>
  <%= submit_tag 'Далее &gt;&gt;' %> или <%= link_to 'отмена','/' %>.

<% end %>

<%= javascript_tag <<-EOJS
  function update_contact_type(){
    if( $F('ticket_contact_type') == #{Ticket::CONTACT_TYPE_FIZ} ){
      $('contact_name_label').innerHTML = "ФИО клиента:";
    } else {
      $('contact_name_label').innerHTML = "Название<br/>предприятия:";
    }
  }

  Event.observe('ticket_contact_type', 'change', update_contact_type);
EOJS

%>
