<% form_for @ticket do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :type %>

  <% field_set_tag 'Описание проблемы' do %>
    <div>
      <label for="ticket_customer">
        Абонент:
      </label><br/>
      <%= text_field_with_auto_complete :customer, :name, {
          :size => 40,
          :name => 'ticket[customer]',
        },
        :url => auto_complete_customers_path,
        :indicator => 'ai2' %>
      <%= image_tag 'ajax.gif', :style => 'display:none', :id => "ai2" -%>
    </div>

    <div style="margin-top: 0.8em">
      <label for="ticket_notes">
        Примечания и дополнительная информация, если нужно:
      </label><br/>
      <%= f.text_area :notes, :rows => 3, :style => 'width: 280px' %>
    </div>

  <% end %>

  <% field_set_tag 'Адрес подключения' do %>
    <% f.fields_for :house do |hf| %>
      <table>
      <tr>
        <td> Улица:
        <td> <%= ajax_street_selector %>
      <tr>
        <td> Дом: 
        <td> <%= hf.text_field :number, :size => 5 %>
      <tr>
        <td> <span class="small">Квартира<br/>(Офис)</span>: 
        <td> <%= f.text_field :flat, :size => 5 %>
      </table>
    <% end %>
  <% end %>

  <% field_set_tag 'Контактные данные' do %>
    <div>
      <label for="ticket_contact_name">
        ФИО клиента / название организации:
      </label><br/>
      <%= f.text_field :contact_name, :style => 'width:280px' %>
    </div>
    <div>
      <label for="ticket_contact_info">
        Телефон и/или другие контактные данные:
      </label><br/>
      <%= f.text_area :contact_info, :rows => 3, :style => 'width:280px' %>
    </div>
  <% end %>

  <br/>
  <%= submit_tag 'Далее &gt;&gt;' %> или <%= link_to 'отмена','/' %>.

<% end %>

<%= javascript_tag <<-EOJS
  function update_contact_type(){
    if( $F('ticket_contact_type') == #{Ticket::CONTACT_TYPE_FIZ} ){
      $('contact_name_label').innerHTML = "ФИО клиента:";
    } else {
      $('contact_name_label').innerHTML = "Название<br/>предприятия:";
    }
  }

  Event.observe('ticket_contact_type', 'change', update_contact_type);
EOJS

%>
