<%= calendar_date_select_includes %>

<style>
  label {
    display: block;
    margin-top: 1em;
  }

  legend + label {
    margin-top: 0;
  }

  div.small {
    color: gray;
    position: relative;
    top: -10px;
    text-align: right;
  }

  div.small + label {
    margin-top: -6px;
  }
</style>

<% form_for @ticket, :builder => LabellingFormBuilder do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :type %>

  <div style="float:left">
  <div id="cust_select_div">
    <% field_set_tag 'Абонент' do %>
      <div class="small">
        Абонент не найден? - 
        <%= link_to_function "Показать форму ручного ввода" do |page|
              page.visual_effect :toggle_blind, :cust_select_div, :duration => 0.15
              page.visual_effect :toggle_blind, :cust_address_div, :duration => 0.15
            end %>
      </div>
      <%= ajax_customer_selector :label => 'Быстрый поиск:' %>
    <% end %>
  </div>

  <div style="display:none" id="cust_address_div">
    <% field_set_tag 'Контактные данные' do %>
      <div class="small">
        <%= link_to_function "Показать форму быстрого поиска" do |page|
              page.visual_effect :toggle_blind, :cust_select_div, :duration => 0.15
              page.visual_effect :toggle_blind, :cust_address_div, :duration => 0.15
            end %>
      </div>
      <%= f.text_field :contact_name, :style => 'width:280px', 
        :label => 'ФИО клиента / название организации:' %>
      <%= f.text_area  :contact_info, :rows => 2, :style => 'width:280px', 
        :label => 'Телефон и/или другие контактные данные:' %>
    <% end %>

    <% field_set_tag 'Адрес подключения' do %>
      <% f.fields_for :house do |hf| %>
        <table>
        <tr>
          <td> Улица:
          <td> <%= ajax_street_selector %>
        <tr>
          <td> Дом: 
          <td> <%= hf.text_field :number, :size => 5 %>
        <tr>
          <td> <span class="small">Квартира<br/>(Офис)</span>: 
          <td> <%= f.text_field :flat, :size => 5 %>
        </table>
      <% end %>
    <% end %>
  </div>
  </div>

  <div style="float:left; margin-left: 1em">
    <% field_set_tag 'Параметры заявки' do %>
      <%= f.select :tariff, ['Тариф 1','Тариф 2'], :label => 'Тариф' %>

      <%= f.label :date, 'Дата' %>
      <%= calendar_date_select @ticket.class.to_s.underscore, :date %>

      <%= f.text_area :notes, :rows => 2, :style => 'width: 280px', 
        :label => 'Примечания и дополнительная информация, если нужно:' %>
    <% end %>
  </div>

  <div style="clear:both">&nbsp;</span>

  <br/>
  <%= submit_tag 'Далее &gt;&gt;' %> или <%= link_to 'отмена','/' %>.

<% end %>
