<% form_for @ticket, :builder => LabellingFormBuilder do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :type %>

  <div style="float:left">
    <%= render 'customer_selector', :f => f %>
  </div>

  <div style="float:left; margin-left: 0.7em">
    <% field_set_tag 'Описание проблемы' do %>
      <%= f.text_field :title, :style => 'width: 280px', 
        :label => 'Кратко суть проблемы, например "потери на линии":' %>

      <%= f.text_area :notes, :rows => 3, :style => 'width: 280px',
        :label => 'Примечания и дополнительная информация, если нужно:' %>

      <%= f.label :priority, "Приоритет задачи:" %>
      <%= select_tag 'ticket[priority]', priorities_for_select(@ticket.priority) %>

      <% @ticket.dept ||= Dept[:technicians] %>
      <%= f.select 'dept_id', depts_for_select, :label => 'Целевой отдел заявки:' %>
    <% end %>
  </div>

  <div class="clear"></div>

  <%= submit_tag 'Далее &gt;&gt;' %> или <%= link_to 'отмена','/' %>.

<% end %>
