<h2>
  Заявка №<%=@ticket.id-%>:
  <span style="<%=priority_style(@ticket.priority)-%>">
    <u><%= h @ticket.title %></u>
  </span>
</h2>

<table class="t1">

  <tr>
    <th>адрес</th>
    <td><b><%=h @ticket.address %></b></td>
  </tr>

  <% unless @ticket.contact_name.blank? %>
    <tr>
      <th>абонент</th>
      <td><b><%=h @ticket.contact_name %></b></td>
    </tr>
  <% end %>

  <% unless @ticket.contact_info.blank? %>
    <tr>
      <th>контакты</th>
      <td><b><%= h(@ticket.contact_info).strip.gsub("\n",'<br/>') %></b></td>
    </tr>
  <% end %>

  <tr><td colspan="2"><hr width="90%"/></td></tr>

  <tr>
    <th>приоритет</th>
    <td style="<%= priority_style(@ticket.priority)-%>">
      <%= priority_desc(@ticket.priority) %>
    </td>
  </tr>

  <tr>
    <th>статус заявки</th>
    <td>
      <b><%= status_desc(@ticket.status) %></b>
    </td>
  </tr>

  <tr>
    <th>дата создания</th>
    <td>
      <%= @ticket.created_at.strftime('%Y.%m.%d %H:%M') %><br/>
      <small style="font-size: 7pt; color:gray">
        ( <%= time_ago_in_words @ticket.created_at %> )
      </small>
    </td>
  </tr>

  <tr><td colspan="2"><hr width="90%"/></td></tr>

  <tr>
    <th>создатель</th>
    <td><%= link_to_user @ticket.created_by %></td>
  </tr>

  <% if @ticket.dept %>
    <tr>
      <th>исп. отдел</th>
      <td><%= @ticket.dept.name %></td>
    </tr>
  <% end %>

  <% if @ticket.assignee %>
    <tr>
      <th>исполнитель</th>
      <td><%= link_to_user @ticket.assignee %></td>
    </tr>
  <% end %>

  <% unless @ticket.notes.blank? %>
    <tr><td colspan="2"><hr width="90%"/></td></tr>
    <tr>
      <th colspan="2">примечания</th>
    </tr>
    <tr>
      <td colspan="2" style="<%=priority_style(@ticket.priority)-%>; font-size:120%; padding-left: 0.8em; padding-right: 0.8em">
        <%= h(@ticket.notes).strip.gsub("\n",'<br/>') %>
      </td>
    </tr>
  <% end %>

</table>

<ul class="actions">
  <% if [nil, Ticket::ST_NEW, Ticket::ST_REOPENED].include?(@ticket.status) %>
    <li><%= link_to "&raquo; принять в обработку", 
              accept_ticket_path(@ticket), 
              :method => :post %>
  <% elsif @ticket.status == Ticket::ST_ACCEPTED %>
    <li><%= link_to_function "&raquo; закрыть с комментарием" do |page|
            page.visual_effect :toggle_blind, :close_form, :duration => 0.15
            page << 'window.setTimeout("$(\'close_text\').focus()",150);'
          end %>
      <% form_tag( close_ticket_path(@ticket), 
          :id => 'close_form', 
          :style => 'display:none; margin: 5px 0 0 18px' 
         ) do %>
          <%= text_area_tag 'comment', '', :style => 'height:3.1em; width:30em; float:left', :id => 'close_text' %>
          <%= submit_tag 'Закрыть', :name => nil %>
          <p class="clear"></p>
      <% end %>

    <li><%= link_to "&raquo; просто закрыть", 
              close_ticket_path(@ticket), 
              :method => :post %>
  <% elsif @ticket.status == Ticket::ST_CLOSED %>
    <li><%= link_to "&raquo; переоткрыть заявку", 
              reopen_ticket_path(@ticket), 
              :method => :post %>
  <% end %>

  <% if @ticket.status != Ticket::ST_CLOSED %>
    <li><%= link_to_function "&raquo; переадресовать в другой отдел" do |page|
              page.visual_effect :toggle_blind, :redirect_form, :duration => 0.15
            end %>

      <% form_tag( redirect_ticket_path(@ticket), 
          :id => 'redirect_form', 
          :style => 'display:none; margin: 5px 0 0 18px' 
         ) do %>
          <%= select_tag 'dept_id', options_for_select(depts_for_select(:exclude => @ticket.dept)) %>
          <%= submit_tag 'Переадресовать', :name => nil %>
      <% end %>
  <% end %>

  <li><%= link_to_function "&raquo; добавить комментарий" do |page|
            page.visual_effect :toggle_blind, :comment_form, :duration => 0.15
            page << 'window.setTimeout("$(\'text\').focus()",150);'
          end %>

    <% form_tag( add_comment_ticket_path(@ticket), 
        :id => 'comment_form', 
        :style => 'display:none; margin: 5px 0 0 18px' 
       ) do %>
        <%= text_area_tag 'text', '', :style => 'height:3.1em; width:30em; float:left' %>
        <%= submit_tag 'Отправить', :name => nil %>
        <p class="clear"></p>
    <% end %>
</ul>

<table style="margin-bottom:12px" class="history">
  <% @ticket.history.group_by{ |he| he.created_at.to_date }.each do |date,entries| %>
    <tr>
      <td colspan="10" class="date"><%= date_with_mark(date) %></td>
    </tr>
    <% entries.each do |entry| %>
      <tr>
        <td style="padding-left:12px">
          <%= entry.created_at.strftime('%H:%M') %>
        </td>
        <td><%= link_to_user entry.user %>
        <td><%= history_desc(entry) %>
      </tr>
    <% end %>
  <% end %>
</table>

<%= link_to "&laquo;&laquo; назад к списку заявок", tickets_path %>
