<html><head>
  <%= stylesheet_link_tag "style", :media => 'all' %>
  <%= javascript_include_tag :all %>
  <title>Orbitel CRM <%= RAILS_ENV == 'production' ? '' : "[#{RAILS_ENV[0..2]}]" -%> <%= @title ? ":: #@title" : '' -%></title>
</head><body>

<%= render :partial => 'users/user_bar' %>
<%= logged_in? ? render('shared/menu') : '<div>&nbsp;</div>' %>

<% if flash && flash[:error] %>
  <div class="error"><%= h flash[:error] %></div>
<% end %>

<% if flash && flash[:notice] %>
  <div id="notices" class="notice"><%= h flash[:notice] %></div>
  <%= javascript_tag(visual_effect(:highlight, "notices", :duration => 0.75)) %>
<% end %>

<div class="content">
<%= yield %>
</div>

<div class="copyright">© 2009 zed_0xff</div>
</body></html>
